# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.RentCarSystem.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ahmet\Desktop\cs - workspace\RentCarSystem\.idea\.idea.RentCarSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
